/* styles.css */
/* @font-face {
  font-family: 'LibreFranklinRoman-Bold';
  src: url('~%/fonts/LibreFranklin/LibreFranklin-Roman.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'LibreFranklinRoman-Medium';
  src: url('~%/fonts/LibreFranklin/LibreFranklin-Roman.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'LibreFranklinRoman-Italic';
  src: url('~%/fonts/LibreFranklin/LibreFranklin-Italic.ttf') format('truetype');
  font-weight: normal;
} */
/* @font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
} */
